<!DOCTYPE html>
<html lang="en">
	<head>
		<title>News</title>

		<meta charset="UTF-8">
		<title>Scraper</title>

		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" integrity="sha384-Wrgq82RsEean5tP3NK3zWAemiNEXofJsTwTyHmNb/iL3dP/sZJ4+7sOld1uqYJtE" crossorigin="anonymous">

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery.js"></script>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="../app/public/css/main.css">

		<!-- Compressed Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

		<!-- Javascript -->
		<script src="../app/public/javascript/app.js"></script>

	</head>

	<body>
		{{{ body }}}
	</body>
</html>